.container {
    padding-top: 15px;
}

.labelSearch {
    display: block;

}



.inputSearch {
    border: 1px solid #030303;
    border-radius: 4px;
    width: 380px;
    height: 40px;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}