.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    justify-content: flex-start;


}

p {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

button {
    height: 40px;
    font-weight: 600;
    border: 1px solid grey;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:active {
    background-color: lightgray;
}