.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    background-color: #4f7788;
    color: #fff;
    box-shadow: 0 0 4px 4px rgb(100, 98, 99);

    ul {
        display: flex;
        gap: 20px;
    }

    .link {
        font-weight: bold;
        color: white;
        font-size: 1.4rem;
        text-decoration: none;
    }

    .active {
        text-decoration: underline;
        color: black;

    }
}